<table class="table">
  <tr>
    <td><%= t("profile.about") %></td>
    <td><%= simple_format profile.about %></td>
  </tr>
  <tr>
    <td><%= t("profile.professional") %></td>
    <td><%= simple_format profile.professional %></td>
  </tr>
  <tr>
    <td><%= t("profile.education") %></td>
    <td><%= simple_format profile.education %></td>
  </tr>
  <tr>
    <td><%= t("profile.certification") %></td>
    <td><%= simple_format profile.certification %></td>
  </tr>
</table>
