<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%#= image_tag "https://robohash.org/#{profile.user.username}", :class => "media-object avatar" %>

          <%= image_tag profile.avatar.url, :class => "avatar pull-left" %>
        </a>
      </div>
      <div class="media-body">
        <% user = profile.user %>

        <h2 class="media-heading"><%= user.full_name %></h2>
        <p><%= profile.short_summary %></p>
        <div>
          <% profile.languages.each do |l| %>
            <span class="label label-warning"><%= t(l.name_i18n) %></span>
          <% end %>
        </div>
        <div>
          <% profile.domains.each do |d| %>
            <span class="label label-success"><%= t(d.name_i18n) %></span>
          <% end %>
        </div>
      </div>
    </div>
  <!-- col-md-8 -->
  </div>

  <div class="col-md-4">
    <h4><%= t("views.profiles._profile_content.pricings") %></h4>
    <table class="table">
      <% profile.pricings.each do |pr| %>
        <tr>
          <td><%= pr.case_type.name_i18n %></td>
          <td><%= pr.case_type.unit_i18n %></td>
          <td><%= pr.amount.to_f %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<br>

<ul class="nav nav-tabs">
  <li role="presentation" id="tab-profile" class="active"><%= link_to t("views.profiles._profile_content.profile"), user_profile_path(profile.user, :target => "tab"), :remote => true %></li>
  <li role="presentation" id="tab-ratings"><%= link_to t("views.profiles._profile_content.ratings"), user_ratings_path(profile.user), :remote => true %></li>
</ul>

<div class="profile-contents">
  <%= render :partial => "profile_table", :locals => {:profile => profile} %>
</div>
