<h>編輯基本資料</h>

<h1>User Profile </h1>

<% if @profile.errors.any? %>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<%= form_for [current_user, @profile], :url => user_profile_path(current_user, @profile), :method => :patch, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :username, t("profile.username") %>
    <%= f.text_field :username, :placeholder => t("profile.username_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name, t("profile.first_name") %> <br />
    <%= f.text_field :first_name, :placeholder => t("profile.first_name_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, t("profile.last_name"), :class => "has-tooltip", "data-toggle" => t("profile.last_name_placeholder") %> <br />
    <%= f.text_field :last_name, :placeholder => t("profile.last_name_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, t("profile.avatar") %> <br />
    <%= f.file_field :avatar, :placeholder => t("profile.avatar_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, t("profile.phone") %> <br />
    <%= f.text_field :phone, :placeholder => t("profile.phone_placeholder"), :class=> "form-control" %>
  </div>

  

  <div class="form-group">
    <%= f.submit "送出", :class => "btn btn-primary" %>
  </div>
<% end %>