<nav class="navbar <% if controller_name == "profile" %>navbar-fixed-top<% end %> profile-navbar" role="navigation">
    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        </button>
        <a class="navbar-brand" ><%= t("所在位置") %></a>
    </div>

    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">

            <li><%= link_to t("nav.填寫譯者資料（一）"), edit_user_profile_path(current_user), class: "btn btn-info"
            %></li>
            <li><%= link_to t("nav.填寫譯者資料（二）"), edit2_user_profile_path(current_user) %></li>
            <li><%= link_to t("nav.已完成"), ''  %></li>

        </ul>
    </div>
</nav>






<h1>Profile </h1>

<% if @profile.errors.any? %>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<%= form_for [current_user, @profile], :url => user_profile_path(current_user, @profile), :method => :patch, :html => { :multipart => true } do |f| %>

  <div class="form-group">
    <%= f.label :short_summary, t("profile.short_summary") %> <br />
    <%= f.text_field :short_summary, :placeholder => t("profile.short_summary_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :about, t("profile.about") %> <br />
    <%= f.text_area :about, :placeholder => t("profile.about_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :professional, t("profile.professional") %> <br />
    <%= f.text_area :professional, :placeholder => t("profile.professional_placeholder"), :class=> "form-control" %>
  </div>


  

<nav class="navbar <% if controller_name == "profile" %>navbar-fixed-top<% end %> under-profile-navbar" role="navigation">
    
    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">

            
            <li><%= link_to t("nav.下一頁"), edit2_user_profile_path(current_user), class: "btn btn-info" %></li>
            <li>
           <%= f.submit "存檔", :class => "location"  %>
           </li>
  
<% end %>




        </ul>
    </div>
</nav>
