<div class="modal fade dialog-box modal-confirm" id="confirm-test">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t("views.profiles.edit.confirm-test.title") %></h4>
      </div>
      <div class="modal-body">
        <p><%= t("views.profiles.edit.confirm-test.content") %></p>
      </div>
      <div class="modal-footer">
        <% CaseType.all.each do |ct| %>
          <% unless @profile.passed(ct) %>
            <div class="confirm-button-group" id="confirm-button-group-<%= ct.id %>">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("views.profiles.edit.confirm-test.button-cancel") %></button>

              <%= button_to t("views.profiles.edit.confirm-test.button-graduate"), certify_user_profile_tests_path(@profile.user, @test, :case_type_id => ct.id), :class => "btn btn-default" %>

              <%= button_to t("views.profiles.edit.confirm-test.button-confirm")+ct.id.to_s, user_profile_tests_path(@profile.user, :case_type_id => ct.id), :class => "btn btn-primary", :form => {:target => '_blank'} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
  <div class="col-md-2">
    <%= render :partial => 'users/sidebar', :locals => {:active => 'profile'} %>
  </div>
  <div class="col-md-10">
    <h2><%= t("views.profiles.edit.title") %></h2>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if @profile.errors.any? %>
          <ul>
          <% @profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
    <% end %>

    <%= form_for [current_user, @profile], :url => user_profile_path(current_user, @profile), :method => :patch, :html => { :multipart => true } do |f| %>


      <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :nickname, t("views.profiles.edit.nickname") %> <br />
          <%= f.text_field :nickname, :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.nickname") %>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <%= f.label :avatar, t("views.profiles.edit.avatar") %> <br />
              <%= f.file_field :avatar, :placeholder => t("views.profiles.edit.avatar_helper"), :class => "form-control" %>
            </div>
            <div class="col-md-6">
              <% if !@profile.nil? && @profile.avatar.url != "/images/original/missing.png" %>
                <%= image_tag @profile.avatar.url, :id => "preview_avatar" %>
              <% else %>
                <img id="preview_avatar" src="#" alt="image preview" />
              <% end %>
            </div>
          </div>
        </div>


      <!-- row -->
      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :domain_ids, t("views.profiles.edit.domains") %> <br />
            <%= f.collection_check_boxes(:domain_ids, Domain.all, :id, :name_i18n) %>
          </div>

        </div>
      </div>

      <div class="form-group">
        <%= f.label :short_summary, t("views.profiles.edit.short_summary") %> <br />
        <%= f.text_field :short_summary, :rows => 3, :placeholder => t("views.profiles.edit.short_summary_helper"), :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.short_summary") %>
      </div>

      <div class="form-group">
        <%= f.label :about, t("views.profiles.edit.about") %> <br />
        <%= f.text_area :about, :rows => 3, :placeholder => t("views.profiles.edit.about_helper"), :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.about") %>
      </div>

      <div class="form-group">
        <%= f.label :professional, t("views.profiles.edit.professional") %> <br />
        <%= f.text_area :professional, :rows => 6, :placeholder => t("views.profiles.edit.professional_helper"), :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.professional") %>
      </div>

      <div class="form-group">
        <%= f.label :education, t("views.profiles.edit.education") %> <br />
        <%= f.text_area :education, :rows => 6, :placeholder => t("views.profiles.edit.education_helper"), :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.education") %>
      </div>

      <div class="form-group">
        <%= f.label :certification, t("views.profiles.edit.certification") %> <br />
        <%= f.text_area :certification, :rows => 6, :placeholder => t("views.profiles.edit.certification_helper"), :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.certification") %>
      </div>

      <div class="form-group">
        <%= f.label :payment_info, t("views.profiles.edit.payment_info") %> <br />
        <%= f.text_area :payment_info, :rows => 3, :placeholder => t("views.profiles.edit.payment_info_helper"), :class => "form-control", 'data-toggle' => "popover", 'data-placement' => "top", 'data-trigger' => "focus", 'data-content' => t("views.profiles.edit.popover.payment_info") %>
      </div>

      <div class="form-group col-lg-6 ">
      <%= f.label :sample, t("views.profiles.edit.sample") %> <br />
      <%= f.file_field :sample, :placeholder => t("views.profiles.edit.avatar_helper"), :class => "form-control" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.submit t("views.profiles.edit.button_update"), :class => "btn btn-primary" %>
        </div>
      </div>

    <%# form_for %>
    <% end %>
  </div>
</div>




<script>
// $("#preview_avatar").hide();

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview_avatar').attr('src', e.target.result);
            $('#preview_avatar').show();
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_avatar").change(function(){
    readURL(this);
});

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

$(".button-confirm").on("click", function(event) {
  case_type_id = $(this).data("case_type_id");

  $(".confirm-button-group").hide();
  $("#confirm-button-group-"+case_type_id).show();
});
</script>