<nav class="navbar <% if controller_name == "profile" %>navbar-fixed-top<% end %> profile-navbar" role="navigation">
    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        </button>
        <a class="navbar-brand" ><%= t("所在位置") %></a>
    </div>

    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">

            <li><%= link_to t("nav.填寫譯者資料（一）"), edit_user_profile_path(current_user) 
            %></li>
            <li><%= link_to t("nav.填寫譯者資料（二）"), edit2_user_profile_path(current_user), class: "btn btn-info" %></li>
            <li><%= link_to t("nav.已完成"), '' %></li>

        </ul>
    </div>
</nav>




<h1>Profile </h1>

<% if @profile.errors.any? %>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<%= form_for [current_user, @profile], :url => user_profile_path(current_user, @profile), :method => :patch, :html => { :multipart => true } do |f| %>

  <%= hidden_field_tag :next, "complete" %>


  <div class="form-group">
    <%= f.label :education, t("profile.education") %> <br />
    <%= f.text_area :education, :placeholder => t("profile.education_placeholder"), :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :certification, t("profile.certification") %> <br />
    <%= f.text_area :certification, :placeholder => t("profile.certification_placeholder"), :class=> "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :payment_info, t("profile.payment_info") %> <br />
    <%= f.text_area :payment_info, :placeholder => t("profile.payment_info_placeholder"), :class=> "form-control" %>
  </div>

    <div class="form-group col-lg-6 ">
    <%= f.label :avatar, t("profile.avatar") %> <br />
    <%= f.file_field :avatar, :placeholder => t("profile.avatar_placeholder"), :class=> "form-control"  %>
   
     <img id="preview_avatar" src="#" alt="your image" width="300" height="300" />
    </div>

   
    <div class="form-group col-lg-6 ">
    <%= f.label :sample, t("profile.sample") %> <br />
    <%= f.file_field :sample, :placeholder => t("profile.avatar_placeholder"), :class=> "form-control" %>
    </div>

<div class="clearfix"></div>

<nav class="navbar <% if controller_name == "profile" %>navbar-fixed-top<% end %> under-profile-navbar" role="navigation" >
    
    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">

            <li><%= link_to t("nav.上一頁"), edit_user_profile_path(current_user), class: "btn btn-info"
            %></li>
            
             <li>
             <%= f.submit "存檔", :class => "location"  %>
             </li>
  
        </ul>
    </div>
</nav>

<% end %>

<div class="clearfix"></div>
<script>


$("#preview_avatar").hide();

function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview_avatar').attr('src', e.target.result);
            $('#preview_avatar').show();
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_avatar").change(function(){
    readURL(this);
});

</script>