<div class="row joinus">
  <div class="col-md-6">
    <%= image_tag "http://lingosolutions.weebly.com/uploads/5/0/0/6/50063493/1430288480.jpg?458" %>
  </div>
  <div class="col-md-6">
    <h2 class="title-text">成為譯者</h2>
    <p class="content-text">加入我們，開始承接你的翻譯案件吧！</p>

    <% unless current_user %>
      <%= link_to t("mytrans.joinus.join_button"), new_user_registration_path, :class => "btn btn-success" %>
    <% else %>
      <%= link_to t("mytrans.joinus.join_button"), new_user_profile_path(current_user), :class => "btn btn-success" %>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="title-text">我們的譯者</h2>

    <table class="table table-hover">
      <tr>
        <th></th>
        <th><%= t("case_show.suggestions.name") %></th>
        <th><%= t("case_show.suggestions.domain") %></th>
        <th><%= t("case_show.suggestions.rating") %></th>
        <th><%= t("case_show.suggestions.actions") %></th>
      </tr>
      <% @profiles.each do |profile| %>
        <%= render :partial => "oneprofile", :locals => {:profile => profile} %>
      <% end %>
    </table>

    <%= paginate @profiles %>
  </div>
</div>

