<h1>New Case</h1>

<% if @case.errors.any? %>
      <ul>
      <% @case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<%= form_for @case do |f| %>
  <div class="form-group">
    <%= f.label :case_type_id, t("case.case_type") %>
    <%= collection_select :case, :case_type_id, CaseType.all, :id, :name_i18n, {}, {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :domain_id, t("case.domain") %>
    <%= collection_select :case, :domain_id, Domain.all, :id, :name_i18n, {}, {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :word_count, t("case.word_count") %>
    <%= f.text_field :word_count, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :due, t("case.due") %>
    <%= f.date_field :due, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :expire, t("case.valid_before") %>
    <%= f.date_field :expire, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quality_level, t("case.quality_level") %>
    <%= collection_select :case, :quality_level_id, QualityLevel.all, :id, :name_i18n, {}, {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.submit "é€å‡º", :class => "btn btn-primary" %>
  </div>
<% end %>