<div class="row">
  <div class="col-md-12">
    <div>
      <h2 class="inline"><%= t("dashboard.cases.title") %></h2>
      <%= link_to new_case_path, :class => "btn btn-primary main-button pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span> <%= t("dashboard.cases.new_button") %>
      <% end %>

      <div class="clearfix"></div>
    </div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= 'active' if !params[:status] or params[:status] == 'ongoing' %>"><%= link_to "進行中", user_path(@user) %></li>
    <li role="presentation" class="<%= 'active' if params[:status] and params[:status] == 'finish' %>"><%= link_to "已結束", user_path(@user, :status => 'finish') %></li>
  </ul>

    <table class="table table-striped">
      <tr>
        <th><%= t("dashboard.table.case_id") %></th>
        <th><%= t("dashboard.table.case_type") %></th>
        <th><%= t("dashboard.table.domain") %></th>
        <th><%= sort_link @q, :due, t("dashboard.table.due"), :default_order => :desc %></th>
        <th><%= sort_link @q, :status, t("dashboard.table.status"), :default_order => :desc %></th>
        <th></th>
      </tr>
      <% @cases.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= t(c.case_type.name_i18n) %></td>
          <td><%= t(c.domain.name_i18n) %></td>
          <td><%= c.due.to_s(:short) %></td>
          <td>
            <%= render :partial => "cases/status", :locals => {:c => c} %>
          </td>
          <td>
            <div class="btn-group pull-right" role="group" aria-label="">
              <%= link_to t("dashboard.case.details"), case_suggestion_path(c), :class => "btn btn-default" %>
              <%= link_to t("dashboard.case.rate"), root_path, :class => "btn btn-default#{ ' disabled' unless c.status == 'finish'}" %>
              <%#= link_to t("case_show.cancel_button"), root_path, :class => "btn btn-danger" %>
            </div>

          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @cases %>
  </div>

  <div class="col-md-12">
    <h2><%= t("dashboard.invitations.title") %></h2>
    <table class="table">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Expires</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% @user.invitations.each do |inv| %>
        <tr>
          <td><%= inv.client.full_name %></td>
          <td><%= inv.translator.full_name %></td>
          <td><%= inv.expire %></td>
          <td><%= inv.status %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>